---
import Acordion from "../components/Acordion/Acordion.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Servicios">
    
    <!--Servicios Acordion -->
    <div class="flex gap-3 flex-col">
        <Acordion />
        <Acordion />
        <Acordion />
        <Acordion />
        <Acordion />
    </div>

</Layout>